.login-card-margin-top {
  margin: 5em;
}

span.D {
  color: #2196f3;
}

span.T {
  color: #2196f3;
}

img.login-Page-logo-styling {
  background-color: #282c34 !important;
  /* padding: -2px; */
  padding: 10px;
  border-radius: 10px;
  vertical-align: bottom;
}

.particles-bg-styling {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* .login-page-card-style {
  background-color: rgba(0, 0, 0, 0.5) !important;
} */
