span.D2 {
  color: #2c343a;
  font-weight: 800;
}

span.T2 {
  color: #2c343a;
  font-weight: 800;
}

img.dashboard-page-logo-styling {
  /* background-color: #282c34 !important; */
  /* padding: -2px; */
  /* padding: 10px; */
  /* border-radius: 10px; */
  vertical-align: middle;
}
